

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.heed {
  font-family: 'Honk', serif;
        font-size: 48px;
  margin-left: 4%;
}

/* Intro section styles */
.introsec {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/939/961/small/blur-circle-bokeh-green-leaf-background-blurry-yellow-leaves-rays-light-flare-nature-backdrop-free-photo.jpg");
  background-size: contain;
  padding: 20px;
  padding-bottom: 750px;
}

/* About section styles */
.aboutsec {
  background-color: black;
  padding: 20px;
  padding-bottom: 75px;
}

.two {
  font-size: 50px;
  color: white;
}

.circle {
  shape-outside: circle(50%);
  color: #fff;
  font-size: 30px;
  margin-left: 5%;
}

/* Image section styles */
.imgsec {
  text-align: center;
  padding: 20px;
}

/* Image styling within the image section */
.imgsec img {
  width: 25%;
  margin: 0 auto;
  cursor: grab;
}

ul {
  list-style-type: square;
  color: green;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin-left: 6%;
}

#moving-button {
  position: absolute; /* Allows independent positioning */
  top: 395px; /* Initial top position */
  left: 50px; /* Initial left position */
  padding: 10px 20px; /* Adjust as desired */
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); /* Visual example */
  color: white; /* Visual example */
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  border: solid, 5px; /* Visual example */
  border-radius:8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  cursor: pointer;
}

#scrollToImg {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: grab;
}

#scrollToImg:active,
#scrollToImg:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #scrollToImg {
    font-size: 24px;
    min-width: 196px;
  }
}


#scrollToMatrix {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: grab;
}

#scrollToMatrix:active,
#scrollToMatrix:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #scrollToMatrix {
    font-size: 24px;
    min-width: 196px;
  }

#redirect-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  margin: 0 auto;
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: grab;
}

#redirect-button:active,
#redirect-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #redirect-button {
    font-size: 24px;
    min-width: 196px;
  }

#cream {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  margin: 0 auto;
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: grab;
}

#cream:active,
#cream:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #cream {
    font-size: 24px;
    min-width: 196px;
  }

#strength {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  margin: 0 auto;
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: grab;
}

#strength:active,
#strength:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #strength {
    font-size: 24px;
    min-width: 196px;
  }

footer {
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text */
  padding: 20px;
  text-align: center; /* Center content */
}

footer a {
  color: #fff; /* Maintain white color for links */
  text-decoration: none; /* Remove default underline */
}

footer a:hover {
  color: #f0f0f0; /* Light gray hover color for links */
}

footer::after { /* Create an after pseudo-element */
  content: "";
  display: block;
  width: 100%; /* Stretch across the full width */
  height: 1px; /* Thin line */
  background-color: #e0e0e0; /* Light gray line color */
  margin-top: 20px; /* Add space above the line */
}

footer p:last-child { /* Style the last paragraph */
  margin-bottom: 0; /* Remove bottom margin for clean spacing */
}

#cardi {
   padding: 20px;
   background-color: orange;
}

.container {
  margin: 0 auto;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.bircle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.taylor {
  height: 130px;
  margin-top: -15px;
}

.choco {
  height: 130px;
  margin-top: -15px;
}

.mint {
  height: 130px;
  margin-top: -15px;
}

.caramel {
  height: 130px;
  margin-top: -15px;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.image-container {
    /* Adjust styling as needed */
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-container a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Remove underline from link */
}

.image-container img {
    width: 100%;
    height: 100%; /* Ensure image fills container */
    transition: opacity 0.3s ease-in-out; /* Add smooth hover effect */
}

.stayback {
    padding: 5%;
    padding-bottom: 0px;
    background-image: url("https://i.pinimg.com/originals/43/c9/65/43c9653e3a717d4a80a0551ebec6c978.png");
    background-size: cover;
}

.speech-bubble {
  position: relative;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff; /* Light pink background */
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}


.goku {
    color: Red;
    text-shadow: 2px 4px 4px rgba(255, 209, 233, 0.8);
    font-size: 35px;
    margin-left: 5%;
    margin-bottom: 10%; 
}

}




